:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #32746D;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --icon-color: #34495e;
    --icon-background: rgba(52, 73, 94, 0.37);

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.hub {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hub-header {
    padding-top: 1rem;
    display: flex;
    min-width: 100%;
    height: 10%;
    /*background-color: #fff;*/
}

.hub-Dropdown {
  background-color: var(--sidebar-color);
  border-radius: 1rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
  margin-right: 3rem;
}

.hub-search {
    display: flex;
    flex-direction: row;
    background-color: var(--sidebar-color);
    border: none;
    border-radius: 1rem;
    height: 3rem;
    align-items: center;
    margin-top: 0.25rem;
    margin-right: 3rem;
}

.hub-search-icon {
    background-color: var(--icon-background);
    padding: 0.7rem;
    border-radius: 1rem;
    /*fill: #fff;*/
}

.hub-search-bar {
    display: flex;
    width: 35rem;
    height: 3rem;
    /*background-color: var(--sidebar-color);*/
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
}

.hub-tuille {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 2rem 0;
}

.hub-tuille-cresi {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    background-color: #fff;
    
}

.hub-tuille-news {
    width: 32rem;
    height: 15rem;
    border-radius: 1rem;
    background-color: #fff;
    text-align: left;
    padding: 1rem;
}

.hub-tuille-news-title {
  color: var(--icon-color);
  padding-left: 2rem;
}

.hub-tuille-calendar {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    background-color: #fff;
}

.hub-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 90%;
    background-color: #fff;
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 1rem;
}

.hub-bar-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hub-logo {
    text-align: center;
}

.hub-logo img {
    width: 50%;
    height: auto;
    margin-bottom: 2rem;
}

.hub-menu {
    padding: 1rem 0.5rem 1rem;
    text-align: left;
    border-radius: 1rem;
    color: var(--icon-color);
}

.hub-menu i {
    margin-right: 0.5rem;
}
.hub-menu img {
    margin-right: 0.5rem;
}

.hub-menu:hover {
    background-color: var(--icon-color);
    color: var(--body-color);
    transition: 0.5s;
    width: fit-content;/**/
}

.hub-deco { /**/
    position: fixed;
    bottom: 1rem;
    width: 199px;
    text-align: left;
}

.hub-photo-profil {
    width: auto;
    height: 3rem;
}

.sec-center {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 200;
    margin-bottom: 2rem;
    border-radius: 1.25rem;
  }
  
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 1;
    pointer-events: none;
  }
  
  .dropdown:checked + label,
  .dropdown:not(:checked) + label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 4.063rem;
    border-radius: 1.25rem;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    margin-top: -0.5rem;
  }
  
  .dropdown:checked + label:before,
  .dropdown:not(:checked) + label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: auto;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
  }
  
  .dropdown:checked + label:before {
    pointer-events: auto;
  }
  
  .section-dropdown {
    position: absolute;
    padding: 5px;
    background-color: var(--color-light);
    top: 117%; /*70px*/
    border-radius: 0 1.5rem 1.5rem 0;/**/
    left: 0;
    width: auto;
    height: 1280%;/**/
    /*border-radius: 1.25rem;*/
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
  }
  
  .dropdown:checked ~ .section-dropdown {
    opacity: 1;
    pointer-events: auto;
    background-color: var(--sidebar-color);
    transition: 1s;/**/
    
  }

  /*.dropdown:checked ~ */.hub-tuille {
    /*filter: blur(10px);
    margin-left: 22%;*/
  }

  .section-dropdown:before {
    position: absolute;
    top: -20px;
    left: 0;
    width: auto;
    height: 20px;
    content: "";
    display: block;
    z-index: 1;
  }
  .section-dropdown:after {
    position: absolute;
    top: -7px;
    left: 30px;
    width: auto;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-light);
    content: "";
    display: block;
    z-index: 2;
  }
    
  .dropdown-options:hover {
    color: var(--color-dark-brown);
    background-color: var(--color-buff);
  }