.navbar{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 2.4rem;
    margin-top: 2.4rem;
    gap: 8rem;
    align-items: center;
    height: 100%;
    
    img{
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.65rem;
    }

    .middle{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}