.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 30.125rem;
    height: 3.625rem;
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  }
  
  .button {
    /* Ajoutez ici le style de vos boutons */
  }
  