.TitreJob{
    color: var(--primary, #34495E);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;  
    top: 50%;
    left: 50%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
  }
  
  .TitreJob {
    text-align: center;
  }

  .description-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  