  .hub-btn-inscr-co {
    background-color: var(--primary-color);
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    align-items: center;
  }

  .hub-btn-co {
    background-color: var(--sidebar-color);
    border-radius: 1rem;
    color: var(--primary-color);
  }

  .hub-btn-co > .hub-btn-connexion {
    color: var(--primary-color);
  }

  .hub-btn-co:hover {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: var(--sidebar-color);
    outline: 1px solid;
  }

  .hub-btn-co:hover > .hub-btn-connexion {
    color: var(--sidebar-color);
    border-color: var(--sidebar-color);
  }

  .hub-btn-inscr {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: var(--sidebar-color);
  }

  .hub-btn-inscr > .hub-btn-inscription {
    color: var(--sidebar-color);
  }

  .hub-btn-inscr:hover {
    background-color: var(--sidebar-color);
    border-radius: 1rem;
    color: var(--primary-color);
  }

  .hub-btn-inscr:hover > .hub-btn-inscription {
    color: var(--primary-color);
  }

  .hub-btn-inscription {
    display: flex;
    width: 100%;
    padding: 0.5rem;
  }

  .hub-btn-connexion {
    display: flex;
    width: 100%;
    padding: 0.5rem;
  }

  