.h1{
  text-align: center;
}

.grid-header{
text-align: center;
}
.firstName{
  text-align:justify;
  position: relative;
  bottom: 1em;
  left: 2%;
  color: Black;
}
.lastName{
  text-align:justify;
  position: relative;
  bottom: 2em;
  left: 2%;
  color: Black;
}
.phoneNumber{
  text-align:justify;
  position: relative;
  bottom: 4.5em;
  left: 4%;
  color: grey;
}
.title{
  text-align:justify;
  position: relative;
  bottom: 6.5em;
  left: 4%;
  color: grey;
}
.email{
  text-align:justify;
  position: relative;
  bottom: 5.5em;
  left: 4%;
  color: grey;
}
.Images {
  object-fit:fit;
  align-items: center;
  width: 125%;
  border-radius: 100%;
  clip-path:ellipse(50% 50%);
}
.userInfo{
  text-align:center;
  position: relative;
}
.aboutUser{
  text-align:justify;
  position:relative;
}
.dob{
  text-align:justify;
  position: relative;
  bottom: 3em;
  left: 2%;
  color: Black;
}